.btn {
  width: 140px;
  height: 50px;
  background-color: #ccc;
  cursor: pointer;
  text-align: center;
  border: 2px solid #000;
  border-radius: 20px;
}
.btn:hover {
  background-color: #aaa;
  font-size: 1.2em;
}
.btn:active {
  background-color: antiquewhite;
}
a {
  color: navy;
  text-decoration: none;
}
/* button에 속한 모든 a Tag */
.btn a {
  line-height: 50px;
}
/* button의 child인 a Tag */
